<!--
-------------------------------------------------------------------------
Gdrive plugin for GLPI
Copyright (C) 2018 by the TICgal Team.
https://github.com/pluginsGLPI/gdrive
-------------------------------------------------------------------------
LICENSE
This file is part of the Gdrive plugin.
Gdrive plugin is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.
Gdrive plugin is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with Gdrive. If not, see <http://www.gnu.org/licenses/>.
--------------------------------------------------------------------------
@package   gdrive
@author    the TICgal team
@copyright Copyright (c) 2018 TICgal team
@license   AGPL License 3.0 or (at your option) any later version
http://www.gnu.org/licenses/agpl-3.0-standalone.html
@link      https://tic.gal
@since     2018
---------------------------------------------------------------------- 
-->

{% import 'components/form/fields_macros.html.twig' as fields %}
{% import 'components/form/buttons.html.twig' as buttons %}

{% set no_header = no_header|default(not item.isNewItem() and not _get._in_modal|default(false)) %}
{% set bg = '' %}
{% if item.isDeleted() %}
{% set bg = 'asset-deleted' %}
{% endif %}

<div class="asset {{ bg }}">

    {{ include('components/form/header.html.twig', {'in_twig': true, 'no_header': true}) }}
    {% set params = params ?? [] %}

    <div class="card-body d-flex flex-wrap">
        <div class="col-12 col-xxl-12 flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                <div class="row flex-row align-items-start flex-grow-1">
                    <div class="row flex-row">

                        {% if item.isField('developer_key') %}
                        {{ fields.textField(
                        'developer_key',
                        item.fields['developer_key'],
                        __('The Browser API key obtained from the Google API Console', 'gdrive'),
                        options
                        ) }}
                        {% endif %}

                        {% if item.isField('client_id') %}
                        {{ fields.textField(
                        'client_id',
                        item.fields['client_id'],
                        __('The Client ID obtained from the Google API Console', 'gdrive'),
                        options
                        ) }}
                        {% endif %}

                        {% if item.isField('app_id') %}
                        {{ fields.textField(
                        'app_id',
                        item.fields['app_id'],
                        __("See 'Project number' under 'IAM & Admin' > 'Settings'", 'gdrive'),
                        options
                        ) }}
                        {% endif %}

                    </div> {# .row #}
                </div> {# .row #}
            </div> {# .flex-row #}
        </div> {# .flex-column #}
    </div> {# .flex-wrap #}

    {{ include('components/form/buttons.html.twig') }}
</div>